.header {
    width: 100%; 
    background-color: #ffffff;
    box-sizing: border-box;
    text-align: center;
    border: 3px #cccccc;
    }

body {
    color: #777777;
    background-color: #ffffff;
    margin: 0% 15% 0% 15%;
    background-image: url(../images/prism.png)

}

h1 {
    background-color: #4aaaa5;
    color: #ffffff;
    height: 50px;
    width: 17%;
}

h2 {
    color: #4aaaa5;
}

div {
    border:#dddddd; 
    max-width: width 960px;
}

.links {
    float: right;
    margin: 10px;
    text-decoration: none;
    color: #777777; 
}
